#dynamic_arrange {
	margin-top: 5em;
}

#image_file {
	display: block;
}

td {
	border: 1px solid black;
	height: 5em;
	width: 5em;
}

table {
	border: 1px solid black;
	border-spacing: 0;
}